{% extends 'base.html.twig' %}
{% block title %}Votre cours {{ parent() }}{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container course">
        <section id="detail">
            <h2 class="my-5">{{ course.name|capitalize }}</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#postcomments">Postez un commentaire</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/' ~ course.imageName) }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <p class="description">
                                Création: {{ course.createdAt|date('d/m/Y') }}<br>
                                Prix: {{ course.price|format_currency('EUR', locale='fr') }}<br>
                                Durée: {{ course.duration }}<br>
                                Catégorie: {{ course.category.name }}<br>
                                Niveau: <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{course.level.description }}">
                                {{ course.level.name }}
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="details">
                    <h4 class="mt-3">Description complète</h4>
                    <p>{{ course.fullDescription|capitalize }}</p>
                    <p><a href="{{ asset('img/pdf/' ~ course.pdfName) }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>
                <div class="tab-pane fade" id="comments">
                    <h5 class="mt-3">Commentaire title</h5>
                    <h6>User Name</h6>
                    <h6 class="text-muted">Ajouté le ... &nbsp;&nbsp;<i class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i></h6>
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                    <hr>
                    <h5>Commentaire title</h5>
                    <h6>User Name</h6>
                    <h6 class="text-muted">Ajouté le ... &nbsp;&nbsp;<i class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci consequatur debitis
                        doloribus dolorum eligendi iste magnam molestiae odit officia placeat quo quod ratione
                        recusandae rerum sed temporibus vero, voluptates!</p>
                </div>
                <div class="tab-pane fade" id="postcomments">
                    <h4>Vous devez être connecté</h4>
                    <p>&nbsp;</p>
                    <a href="" class="btn btn-outline-primary">Login</a> <a href="" class="btn btn-outline-primary">S'enregistrer</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

