{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    {% include 'partials/slider.html.twig' %}
    <!-- Latest courses -->
    <main class="container">
        <section class="home-courses">
            <h2 class="my-5 text-black-50">Nos dernières formations</h2>
            <div class="row">
                {% for course in courses %}
                <div class="col-md-4">
                    <div class="card">
                        <img alt="" src="{{ asset('img/sections/' ~ course.imageName) }}" style="height: 200px; width: 100%">
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{ course.name }}</h5>
                            <p>{{ course.category.name }}</p>
                            <p class="card-text">{{ course.smallDescription|capitalize }}</p>
                            <a href="{{ path('course', {slug: course.slug}) }}" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End Latest courses -->

        <!-- Latest news -->
        <div class="home-news">
            <h2 class="my-5 text-black-50">Nos dernières actualités</h2>
            <div class="row">
                {% for news in news %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ asset('img/news/' ~ news.imageName) }}" class="img-news-home rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{news.name}}</h5>
                                    <p class="card-text">{{news.content}}</p>
                                    <p class="card-text"><small class="text-muted">{{ news.createdAt|date('d/m/Y') }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <!-- End Latest news -->

        <!-- Cool Links -->
        <section>
            <h2 class="my-5 text-black-50">Informations importantes</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary"><i class="icofont-money"></i>&nbsp;&nbsp;NOS TARIFS</div>
                        <div class="card-body">
                            <h4 class="card-title">Tarifs de 2022-2023</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary"><i class="icofont-info-square"></i>&nbsp;&nbsp;INFORMATIONS</div>
                        <div class="card-body">
                            <h4 class="card-title">Organisation des formations</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary"><i class="icofont-ui-edit"></i>&nbsp;&nbsp;INSCRIPTION</div>
                        <div class="card-body">
                            <h4 class="card-title">Modalités d'inscription</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Cool Links -->

    </main>
{% endblock %}
