{# Navbar #}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Learning</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('courses') }}">All Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('team') }}">Team</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teachers</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Design</a>
                            <a class="dropdown-item" href="#">Développement</a>
                            <a class="dropdown-item" href="#">Marketing</a>
                            <a class="dropdown-item" href="#">Business</a>
                            <a class="dropdown-item" href="#">Musique</a>
                            <a class="dropdown-item" href="#">Langues</a>
                            <a class="dropdown-item" href="#">Photographie</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('news') }}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if not app.user %} <!-- si le user n'existe pas tu affiche le bouton ligin sinon le reste -->
                    <a  href="{{ path('app_login') }}" type="button" class="btn btn-dark btn-sm"><i class="icofont-sign-in"></i> S'identifier</a>
                    <a  href="{{ path('app_register') }}" type="button" class="btn btn-dark btn-sm"><i class="icofont-user-alt-4"></i> S'enregistrer</a>
                        {% else %}
                            <div class="dropdown" style="padding-right: 25px;">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset('img/avatar/' ~  app.user.imageName) }}" class="img-avatar"> &nbsp; &nbsp; {{ app.user.firstname }} {{ app.user.lastname }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{path('app_user')}}">Voir profil</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_edit_profile')}}">Modifier profil</a></li>
                                    <li><a class="dropdown-item" href="#">Modifier password</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% if is_granted('ROLE_ADMIN') %} {# si le role est admin #}
                                    <li><a class="dropdown-item" href="{{ path("app_admin_course") }}">Admin</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    <li><a class="dropdown-item " href="{{ path('app_logout') }}" type="button"><i class="icofont-sign-out"></i>Déconnexion</a></li>
                                </ul>
                            </div>

                    {%endif%}

                </div>
            </div>
        </div>
    </nav>
{% endblock %}