<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Admin{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/design/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
{% include 'admin/partials/header.html.twig' %}
{% include 'admin/partials/menu.html.twig' %}
{% block body %}{% endblock %}
{% include 'admin/partials/footer.html.twig' %}
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
