<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Admin{% endblock %}</title>
{# favicon #}
    <link rel="icon" href="{{ asset('img/design/favicon.png') }}">
{#bootstrap#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{#Custom #}
{# icofont #}
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
{# datatable #}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'admin/partials/header.html.twig' %}
{% include 'admin/partials/menu.html.twig' %}
{% block body %}{% endblock %}
{% include 'admin/partials/footer.html.twig' %}
 {# <script src="{{ asset('js/jquery.min.js') }}"></script>  pour le tableau filtrer des formations #}



{#$(document).ready(function() {
    $('#table-admin').DataTable(
        {
            "info": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        }
    );
} ); script qui va pemettre de retourner les infos qui sont sur les filtres en francais #}

</body>
</html>
