{% extends 'admin/base.html.twig' %}

{% block title %}News{{ parent() }}{% endblock %}

{% block body %}
    <h4 class="my-5 text-muted">Gestion des actualités</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Date de parution</th>
            <th>Date de modification</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in news %}
            <tr>
                <td><img src="{{ asset('img/news/') ~ item.imageName }}"  alt="{{ item.name }}"
                         class="admin-img"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.createdAt|date("d/m/Y h:m") }}</td>
                <td>{{ item.updatedAt|date("d/m/Y h:m") }}</td>
                <td>
                    <a href="{{ path('app_admin_del_news', {'id': item.id}) }}" class="btn btn-danger"><i
                                class="icofont-ui-delete"></i></a>&nbsp;
                    <a href="{{ path('app_admin_view_news', {'id': item.id}) }}" class="btn btn-light">
                        {% if item.isPublished %}
                            <i class="icofont-eye-open"></i>
                        {% else %}
                            <i class="icofont-eye-blocked"></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}




2 boucles des formations dans la navbar
3 afficher les profs par catégories de formation ( cards avec avatar )
4