{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container">
    <section class="row">
        <div class="col-md-7">
            <img src="{{ asset('img/avatar/' ~ app.user.imageName) }}" alt="">
        </div>
        <div class="col-md-5">
            <h2>{{ app.user.firstname }} {{ app.user.lastname }}</h2>
            <p>Votre mail : {{ app.user.email }}</p>
            <p>Création du compte: {{ app.user.createdAt|date('d/m/Y') }}</p>
            <p>Mise à jour du compte: {{ app.user.updatedAt|date('d/m/Y') }}<p>

            <p>Status :
                {% for role in app.user.roles %}
                {{ user.roles }}
            {% endfor %}
            </p>
        </div>
    </section>
</div>

{% endblock %}
